.blueHeadline{
    font-size: large;
    color:rgb(35, 35, 99);
    background-color: rgb(48, 141, 187);
}



.tabeleData{
font-size: 15px;
    font-weight:bold;
    color:black;
    text-align: center;

}

.blue{
    color: rgb(93, 178, 232);

}

table, th, td {
 border: 2px solid black;
 border-collapse: collapse;


}

#backGround{
    background-color: rgb(237, 208, 173);
}
